{% extends 'base/base.html' %}
{% load crispy_forms_tags %} 

{% block title %}
    Roomiebudget - Servicios - {{service.name}}
{% endblock %}

{% block navbar %}
    {% include 'base/nav_boards.html' %}
{% endblock %}


{% block css %}
    .card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        height: calc(1.5em * 3); /* Altura según el número de líneas y el tamaño de la fuente */
    }

    #calendar {
        max-width: 500px; /* Adjust as needed */
        margin: 0 auto;   /* Center the calendar */
    }
{% endblock %}




{% block sub_titulo1 %} 
    Facturas
{% endblock %}


{% block sub_titulo2 %} 
    Servicios
{% endblock %}


{% block titulo2 %} 
{% endblock %}

{% block actions %}
    <a href="{% url 'bills:service' %}"  class="btn btn-light-primary"   >
        Atras
        <i class="ki-duotone ki-exit-left fs-2x ">             
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </a>  
{% endblock %}


{% block content %}



<div class="card card-dashed">
    <div class="card-header">
        <h3 class="card-title"> {{service.name}} &nbsp; <span class="badge badge-outline badge-success"> {{ service.start_date | date:"Y/m/d" }}  - {{ service.end_date | date:"Y/m/d" }}  </span> </h3>
        <div class="card-toolbar">
            <!-- Primer grupo de botones -->
            <div class="btn-group" role="group" >
                <button  type="button" class="btn btn-icon btn-info" data-bs-toggle="popover" data-bs-html="true" title="¿Quién es un ocupante?" data-bs-content="Un <b class='text-danger'>ocupante permanente</b> es cualquier persona que vive en el apartamento o casa de manera continua y estable. En otras palabras, ¡es quien convierte ese espacio en su hogar diario!" >
                    <i class="fa-solid fa-circle-question fs-2x"></i>
                </button>
                {% if service.closet %}
                    <button type="button" class="btn btn-light-primary"  data-bs-delay-hide="500" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Servicio Cerrado">
                        <i class="fa-solid fa-plus"></i>
                        Ocupante
                    </button>
                {% else %}
                    <button type="button" class="btn btn-light-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_ocupante">
                        <i class="fa-solid fa-plus"></i>
                        Ocupante
                    </button>
                {% endif %}

            </div>

        </div>
    </div>

    <div class="card-body">

        <div class="container" >
            <div class="row">
                {% if ocupantes %}
                <div class="table-responsive">
                    <table class="table table-striped gy-7 gs-7" id='id-Service'>
                        <thead>
                            <tr>
                                <th width="200" class="text-center" >Nombre</th>
                                <th width="200" class="text-center" >Pago</th>
                                <th width="200" class="text-center" >
                                    Visitantes
                                    <span class="badge badge-primary badge-circle badge-lg">{{total}}</span>
                                </th>
                                <th width="200" class="text-center" >
                                    Agregar
                                    {% if service.closet %}
                                        <a  class="btn btn-icon btn-sm  me-2 btn-light-facebook " data-bs-delay-hide="500" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="top" title="Servicio Cerrado" >
                                            <i class="fa-solid fa-plus fs-3 "></i>
                                        </a>
                                    {% else %}
                                        <a  class="btn btn-icon btn-sm  me-2 btn-light-facebook"  data-bs-placement="top" title="Agregar Visitante" data-bs-toggle="modal" data-bs-target="#kt_modal_visitante" >
                                            <i class="fa-solid fa-plus fs-3 "></i>
                                        </a>
                                    {% endif %}
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in ocupantes %}
                            <tr>
                                <td class="text-center">{{ item.name }}</td>
                                <td class="text-center">{{ item.pago }}</td>
                                <td class="text-center">
                                    {% for visita in item.visitante %}
                                        <span class="badge badge-light-primary">{{visita}}</span>
                                    {% endfor %}
                                </td>
                                <td class="text-center"> 
                                    <span class="badge badge-primary badge-circle badge-lg">{{item.nvisitante}}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                    <div class="d-flex justify-content-start">
                        {% if service.closet %}
                            <a href="{% url 'bills:report' service.id %}" class="btn btn-light-primary btn-sm">
                                <i class="fa-solid fa-download"></i>
                                Generar Informe 
                            </a>
                        {% else %}
                            <button type="button" class="btn btn-light-primary btn-sm" data-bs-toggle="modal" data-bs-target="#kt_modal_cierre">
                                <i class="fa-solid fa-lock"></i>
                                Generar Cálculo
                            </button>
                        {% endif %}
                    </div>



                    

                {% else %}
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">¡Oye, mira esto!</h4>
                        <p>Este lugar está tan vacío que hasta el Wi-Fi se siente solo. ¡Podrías bailar una salsa y no molestarías a nadie!</p>
                        <hr>
                        <p class="mb-0">¡Es hora de llenar este espacio con algo emocionante antes de que se convierta en una sala de meditación por sí sola!</p>
                    </div>
                {% endif %}
            </div>
        </div>
        
        
            
        
    </div>
    
    <div class="card-footer">
        {% if ocupantes %}
        <!--begin::Accordion-->
        <div class="accordion" id="kt_accordion_1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="kt_accordion_1_header_1">
                    <button class="accordion-button fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_1" aria-expanded="true" aria-controls="kt_accordion_1_body_1">
                        Resumen por día - Próximamente  
                    </button>
                </h2>
                <div id="kt_accordion_1_body_1" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_1" data-bs-parent="#kt_accordion_1">
                    <div class="accordion-body">
                        ...
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="kt_accordion_1_header_2">
                    <button class="accordion-button fs-4 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_2" aria-expanded="false" aria-controls="kt_accordion_1_body_2">
                        Resumen por calendario - Próximamente 
                    </button>
                </h2>
                <div id="kt_accordion_1_body_2" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_2" data-bs-parent="#kt_accordion_1">
                    <div class="accordion-body">
                        ...
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="kt_accordion_1_header_3">
                    <button class="accordion-button fs-4 fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_3" aria-expanded="false" aria-controls="kt_accordion_1_body_3">
                        Próximamente 
                    </button>
                </h2>
                <div id="kt_accordion_1_body_3" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_3" data-bs-parent="#kt_accordion_1">
                    <div class="accordion-body">
                    ...
                    </div>
                </div>
            </div>
        </div>
        <!--end::Accordion-->
        {% endif %}
    </div>

</div>









    
    
        <!-- Modal 1 -->
        <div class="modal fade" tabindex="-1" id="kt_modal_ocupante">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Create Roomie</h3>
        
                        <!--begin::Close-->
                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                        </div>
                        <!--end::Close-->
                    </div>
        
                    <div class="modal-body">
                        {% crispy form1 %}
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="form_Roomie"  class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal 2 -->
        <div class="modal fade" tabindex="-1" id="kt_modal_visitante">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Create Visitor</h3>
        
                        <!--begin::Close-->
                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                        </div>
                        <!--end::Close-->
                    </div>
        
                    <div class="modal-body">
                        {% crispy form2 %}
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="Filto_Guest"  class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal 3 -->
        <div class="modal fade" tabindex="-1" id="kt_modal_cierre">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Cerrar Servicio </h3>
        
                        <!--begin::Close-->
                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                        </div>
                        <!--end::Close-->
                    </div>
        
                    <div class="modal-body">
                        <strong>Advertencia:</strong> Si cierras el servicio en curso, no podrás realizar modificaciones en la información que se ha cargado. Esto es crucial para mantener la integridad de los datos. Asegúrate de que todos los datos ingresados sean correctos antes de proceder, ya que cualquier cambio posterior no será posible. Tu decisión es definitiva y no podrá ser revertida.                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button"  class="btn btn-primary" id="sendServiceId" >Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        

{% endblock %}


{% block js %}

<script>
    // Configuración de Toastr
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toastr-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "1500",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    $(document).ready(function(){
        $('#sendServiceId').click(function(){
            var serviceId = "{{ service.id|escapejs }}";

            $.ajax({
                url: "{% url 'bills:closet' %}",
                type: 'POST',
                data: {
                    'service_id': serviceId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'ok') {
                        toastr.success('Service closed successfully!');
                        setTimeout(function(){
                            location.reload();  // Recargar la página después de que el Toastr se desvanezca
                        }, 5000); 
                        
                    } else {
                        toastr.error('Error closing the service.');
                    }
                },
                error: function(xhr, status, error) {
                    toastr.error('An error occurred: ' + error);
                }
            });
        });
    });
</script>


<script>
    $(document).ready(function() {
        $('#id-Service').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No tiene certificados para este contrato o no ha seleccionado un contrato.",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            "pageLength": 6,
            searching: false,
            columnDefs: [
                {
                    targets: -1, // Aplica a la última columna
                    orderable: false // Desactiva el ordenamiento
                }
            ]
        });
    });
</script>
{% endblock %}
