{% extends 'base/base.html' %}
{% load crispy_forms_tags %} 

{% block title %}
    Roomiebudget - Budgets
{% endblock %}


{% block navbar %}
    {% include 'base/nav_boards.html' %}
{% endblock %}

{% block css %}
    .card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Número de líneas a mostrar */
        -webkit-box-orient: vertical;
        height: calc(1.5em * 3); /* Altura según el número de líneas y el tamaño de la fuente */
    }
{% endblock %}



{% block sub_titulo1 %} 
    Compras y Presupuestos
{% endblock %}


{% block sub_titulo2 %} 
    Budgets
{% endblock %}


{% block titulo2 %} 
Listado de Budgets
{% endblock %}

{% block actions %}
<!-- Button trigger modal -->
    <button id="kt_drawer_pasivo" class="btn btn-icon btn-info">
        <i class="fa-solid fa-circle-question fs-2x"></i>
    </button>
    <button type="button"  class="btn btn-light-primary"  data-bs-toggle="modal" data-bs-target="#kt_modal_items" >
        New Items
    </button>
    <div style="width: 10px;"></div>
    <a class="btn btn-light-primary" href="{% url 'shopping:budget' request.session.board_slug  %}">
        Back
        <i class="ki-duotone ki-exit-left fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </a>
    <div style="width: 10px;"></div>
    <a type="button" class="btn btn-light-info" href="{% url 'boards:boards'  %}" >Exit Board</a>   
{% endblock %}


{% block content %}
    
    
    


    <div class="container">
        {% if items %}
            <div class="scroll h-600px px-5">
                <div class="table-responsive">
                    <table class="table table-rounded table-striped border gy-7 gs-7" id='tabla-items-presupuesto'>
                        <thead>
                            <tr>
                                <th width="150">Name</th>
                                <th width="150">Description</th>
                                <th width="150">Amount</th>
                                <th width="150">Category</th>
                                <th width="150">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="ki-duotone ki-check-square fs-3x">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td class="d-flex justify-content-between align-items-center">
                                    {{ item.description }}
                                </td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.category }}</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-check form-check-custom form-check-success form-check-solid form-check-lg ">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault" data-id="{{ item.id }}" {% if item.is_paid %}
                                                checked {% endif %} >
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr >
                                
                                <th>Total</th>
                                <th>{{sumitems}}</th>
                                <th>
                                    {% if budget.state %}

                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button class="btn btn-icon btn-light-success" data-bs-toggle="modal" data-bs-target="#kt_modal_stacked_1" >
                                            <i class="fa-solid fa-lock-open fs-2 "></i> 
                                        </button>
                                        <div style="width: 5px;"></div>
                                        <button  id="kt_drawer_Cerrar_presupuesto"  class="btn btn-icon btn-info" >
                                            <i class="fa-solid fa-circle-question fs-2x"></i>
                                        </button>
                                    </div>
                                    {% else %}

                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button class="btn btn-icon btn-light-success" data-bs-toggle="modal" data-bs-target="#kt_modal_stacked_1" >
                                            <i class="fas fa-lock fs-2 "></i>
                                        </button>
                                        <div style="width: 5px;"></div>
                                        <button  id="kt_drawer_Cerrar_presupuesto"  class="btn btn-icon btn-info" >
                                            <i class="fa-solid fa-circle-question fs-2x"></i>
                                        </button>
                                    </div>

                                    {% endif %}

                                </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">¡Oops!</h4>
                <p>¡Este espacio está más vacío que la nevera de un estudiante universitario al final del semestre! ¡Incluso las arañas están considerando subarrendar!</p>
                <hr>
                <p class="mb-0">¡Vamos, añade algo aquí antes de que las arañas formen una banda de rock por aburrimiento!</p>
            </div>        
        {% endif %}
    
    
    </div>

    
    <!-- Modal formulario -->
    <div class="modal fade" tabindex="-1" id="kt_modal_items">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create Items</h3>
    
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>
    
                <div class="modal-body">
                    <form id="shoppinglists" method="post" >
                        {% crispy form %}
                    </form>
                    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="shoppinglists"  class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!--FIN Modal-->

    <!-- Modal alerta -->
    <div class="modal fade" tabindex="-1" id="kt_modal_stacked_1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Cerrar presupuesto</h3>
        
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>
        
                <div class="modal-body">
                    <p>Al cerrar este presupuesto, solo los elementos seleccionados contarán para el total global como transacción presupuestal. Después del cierre, podrás verlo pero no agregar nuevos elementos ni marcar compras. Verifica tus selecciones antes de proceder.</p>
                </div>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <!--FIN Modal-->

    <!--begin::View component-->
    <div  id="kt_drawer_pasivo" class="bg-white" data-kt-drawer="true" data-kt-drawer-activate="true" data-kt-drawer-toggle="#kt_drawer_pasivo" data-kt-drawer-close="#kt_drawer_pasivo_close"  data-kt-drawer-width="{default:'300px', 'md': '500px'}" >
        <!--begin::Card-->
        <div class="card rounded-0 w-100">
            <!--begin::Card header-->
            <div class="card-header pe-5">
                <!--begin::Title-->
                <div class="card-title">
                    <!--begin::User-->
                    <div class="d-flex justify-content-center flex-column me-3">
                        <a href="" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 lh-1"> <h2>Los elementos del presupuesto</h2> </a>
                    </div>
                    <!--end::User-->
                </div>
                <!--end::Title-->
    
                 <!--begin::Card toolbar-->
                 <div class="card-toolbar">
                    <!--begin::Close-->
                    <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_pasivo_close">
                        <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>                
                    </div>
                    <!--end::Close-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
    
            <!--begin::Card body-->
            <div class="card-body hover-scroll-overlay-y">

                <div>
                    <p>Este formulario te permite agregar elementos individuales a tu presupuesto, detallando cada producto o gasto específico que contribuye a tu plan financiero. Cada elemento ingresado te ayudará a mantener un registro detallado de tus gastos y a administrar eficazmente tu presupuesto.</p>
                
                    <h2>¿Por qué es importante registrar los elementos del presupuesto?</h2>
                    <p>Registrar los elementos individuales de tu presupuesto tiene varias ventajas clave:</p>
                    <ul>
                        <li><strong>Seguimiento detallado:</strong> Al registrar cada producto o gasto específico, puedes realizar un seguimiento detallado de cómo estás asignando tus recursos financieros.</li>
                        <li><strong>Análisis de gastos:</strong> Te permite analizar en qué categorías o productos estás gastando más, lo cual es fundamental para ajustar tu presupuesto y optimizar tus finanzas.</li>
                        <li><strong>Control de compras:</strong> Al marcar si un elemento ha sido comprado o no, puedes mantener un registro actualizado de tus adquisiciones, evitando compras duplicadas o innecesarias.</li>
                        <li><strong>Planificación precisa:</strong> Al incluir descripciones detalladas y montos precisos para cada elemento, puedes planificar de manera más efectiva cómo distribuir tu presupuesto total entre diferentes necesidades y deseos.</li>
                    </ul>
                
                    <h2>Cómo usar este formulario:</h2>
                    <p>Para agregar un nuevo elemento a tu presupuesto, por favor sigue estos pasos:</p>
                    <ol>
                        <li><strong>Nombre del Producto:</strong> Ingresa un nombre descriptivo para identificar el producto o gasto específico, como 'Lavadora nueva' o 'Cena de aniversario'.</li>
                        <li><strong>Categoría:</strong> Selecciona la categoría a la que pertenece el elemento. Esto puede incluir categorías predefinidas como 'Alimentos', 'Entretenimiento', 'Educación', etc.</li>
                        <li><strong>Descripción:</strong> Proporciona una descripción opcional del producto o gasto. Esto puede incluir detalles adicionales que te ayuden a recordar el propósito o contexto del elemento.</li>
                        <li><strong>Precio:</strong> Ingresa el precio o el monto estimado del producto o gasto. Esto te ayuda a calcular correctamente el total de tu presupuesto y a mantener un registro preciso de tus gastos.</li>
                    </ol>
                
                    <h2>¿Qué hacer después?</h2>
                    <p>Una vez que hayas ingresado toda la información requerida, presiona el botón <strong>'Create'</strong> para agregar el elemento a tu presupuesto. Esto te permitirá mantener un registro organizado y actualizado de cada producto o gasto, facilitando la gestión efectiva de tus finanzas personales.</p>
                    <p>Registrar detalladamente los elementos de tu presupuesto te proporciona una visión clara de tus gastos y te ayuda a tomar decisiones financieras informadas. Con esta información, puedes ajustar tu presupuesto según tus necesidades y metas, asegurando un uso eficiente de tus recursos financieros.</p>
                </div>
                
                            
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->


    
    </div>
    <!--end::View component-->

    <!--begin::View component-->
    <div  id="kt_drawer_Cerrar_presupuesto" class="bg-white" data-kt-drawer="true" data-kt-drawer-activate="true" data-kt-drawer-toggle="#kt_drawer_Cerrar_presupuesto" data-kt-drawer-close="#kt_drawer_Cerrar_presupuesto_close"  data-kt-drawer-width="{default:'300px', 'md': '500px'}" >
        <!--begin::Card-->
        <div class="card rounded-0 w-100">
            <!--begin::Card header-->
            <div class="card-header pe-5">
                <!--begin::Title-->
                <div class="card-title">
                    <!--begin::User-->
                    <div class="d-flex justify-content-center flex-column me-3">
                        <a href="" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 lh-1"> <h2>Información sobre el cierre</h2> </a>
                    </div>
                    <!--end::User-->
                </div>
                <!--end::Title-->
    
                 <!--begin::Card toolbar-->
                 <div class="card-toolbar">
                    <!--begin::Close-->
                    <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_Cerrar_presupuesto_close">
                        <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>                
                    </div>
                    <!--end::Close-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
    
            <!--begin::Card body-->
            <div class="card-body hover-scroll-overlay-y">

                <div>
                    <p>Al cerrar este presupuesto, se consolidarán únicamente los elementos que han sido seleccionados para formar parte del total global. Esta acción resultará en una transacción tipo presupuestal, que reflejará el monto final acordado para este presupuesto.</p>
                
                    <h2>¿Qué significa cerrar un presupuesto?</h2>
                    <p>Cerrar un presupuesto implica que:</p>
                    <ul>
                        <li><strong>Consolidación de elementos:</strong> Solo los elementos marcados como seleccionados serán considerados para el cálculo del total global del presupuesto.</li>
                        <li><strong>Transacción presupuestal:</strong> El monto total del presupuesto se registrará como una transacción específica dentro de las transacciones, lo cual es útil para el seguimiento financiero y la contabilidad.</li>
                        <li><strong>Acceso limitado:</strong> Una vez cerrado, podrás visualizar el presupuesto y sus detalles, pero no podrás agregar nuevos elementos ni marcar elementos como comprados. Esto asegura la integridad del presupuesto después de su cierre.</li>
                    </ul>
                
                    <h2>¿Qué hacer después de cerrar el presupuesto?</h2>
                    <p>Después de cerrar el presupuesto, podrás:</p>
                    <ul>
                        <li>Revisar y analizar los detalles y el cumplimiento del presupuesto.</li>
                        <li>Utilizar la información para tomar decisiones financieras informadas.</li>
                        <li>Generar reportes y documentación relacionada con el presupuesto cerrado para futuras referencias y auditorías.</li>
                    </ul>
                
                    <p>Cerrar un presupuesto es una parte importante del proceso de gestión financiera, asegurando que los recursos se asignen de manera efectiva y que se mantenga un control adecuado sobre los gastos. Es una herramienta clave para mantener la estabilidad y el cumplimiento de metas financieras establecidas.</p>
                </div>
                
                
                            
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->


    
    </div>
    <!--end::View component-->



{% endblock %}

{% block js %}



<script>
    $(document).ready(function(){
        $("#tabla-items-presupuesto").DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No tiene certificados para este contrato o no ha seleccionado un contrato.",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip', // Incluye los elementos que deseas mostrar
            fixedHeader: true, // Fija el encabezado de la tabla
            fixedFooter: true, // Fija el pie de la tabla
            pageLength: 6, // Número de filas por página
            info: false, // Deshabilita la información de la tabla
            scrollY: '300px', // Altura del área de desplazamiento vertical
            scrollCollapse: true, // Colapsar el área de desplazamiento cuando no hay suficientes filas
            paging: false, // Deshabilita la paginación
            ordering: false 
            
        });
    });
</script>

<script>
    $(document).ready(function(){
        
        $('.form-check-input').change(function(){
            var itemId = $(this).data('id');
            $.ajax({
                url: '/boards/shopping/update-item-budget/' + itemId + '/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response){
                    if(response.success){
                        console.log('Item updated successfully');
                    } else {
                        console.log('Failed to update item');
                    }
                }
            });
        });

        
    });
</script>

{% endblock %}