{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Nomiweb.co - Portal Empresas - Lista Activos
{% endblock %}

{% block navbar %}
    {% include 'base/nav_boards.html' %}
{% endblock %}

{% block css %}
{% endblock %}

{% block sub_titulo1 %}
    empleados
{% endblock %}

{% block sub_titulo2 %}
Lista Activos
{% endblock %}

{% block titulo2 %}
    Listado de Productos
{% endblock %}

{% block actions %}
    
    


    <div class="btn-group" role="group" >
        <button id="kt_drawer_list" class="btn btn-icon btn-info">
            <i class="fa-solid fa-circle-question fs-2x"></i>
        </button>
        
        <button type="button" class="btn btn-light-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_lista">
            New Items
        </button>
        <div style="width: 5px;"></div>
        <a class="btn btn-light-primary" href="{% url 'shopping:shoppinglists'  %}">
            Back
            <i class="ki-duotone ki-exit-left fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
            </i>
        </a>
    </div>
    <div style="width: 5px;"></div>
    <a type="button" class="btn btn-light-info" href="{% url 'boards:boards'  %}" >Exit Board</a>  
{% endblock %}

{% block content %}
<div class="container">
    {% if listitems %}
        <div class="scroll h-600px px-5">
            <div class="table-responsive">
                <table class="table table-rounded table-striped border gy-7 gs-7" id='tabla-certi-nomi'>
                    <thead>
                        <tr>
                            <th width="200">Name</th>
                            <th width="200">Price</th>
                            <th width="200">Updated At</th>
                            <th width="150">
                                <div class="d-flex justify-content-center align-items-center">
                                    <i class="ki-duotone ki-check-square fs-3x">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in listitems %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td class="d-flex justify-content-between align-items-center">
                                <span class="price-span" data-id="{{ item.id }}">{{ item.price }}</span>
                                <input type="text" class="price-input form-control" data-id="{{ item.id }}"
                                    value="{{ item.price }}" style="display:none;">
                                <button type="button" class="ms-3 btn btn-icon btn-light-primary edit-button"
                                    data-id="{{ item.id }}">
                                    <i class="ki-duotone ki-notepad-edit">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                </button>
                            </td>
                            <td>{{ item.updated_at }}</td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="form-check form-check-custom form-check-success form-check-solid form-check-lg ">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault" data-id="{{ item.id }}" {% if item.purchased %}
                                            checked {% endif %}>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">¡Ay caramba!</h4>
            <p>Parece que esta lista está más vacía que un tanque de gasolina un domingo por la tarde. ¡Está tan desolada que hasta las telarañas se sienten solas y deprimidas!</p>
            <hr>
            <p class="mb-0">¡A llenarla rápido antes de que las arañas empiecen a organizar un sindicato por falta de trabajo!</p>
        </div>
    {% endif %}


</div>


<!-- Modal -->
<div class="modal fade" tabindex="-1" id="kt_modal_lista">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create List</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <form id="shoppinglists" method="post">
                    {% crispy form %}
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="shoppinglists" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>


<!--begin::View component-->
<div  id="kt_drawer_list" class="bg-white" data-kt-drawer="true" data-kt-drawer-activate="true" data-kt-drawer-toggle="#kt_drawer_list" data-kt-drawer-close="#kt_drawer_list_close"  data-kt-drawer-width="{default:'300px', 'md': '500px'}" >
    <!--begin::Card-->
    <div class="card rounded-0 w-100">
        <!--begin::Card header-->
        <div class="card-header pe-5">
            <!--begin::Title-->
            <div class="card-title">
                <!--begin::User-->
                <div class="d-flex justify-content-center flex-column me-3">
                    <a href="" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 lh-1"> <h2>Importancia de Generar Listas</h2> </a>
                </div>
                <!--end::User-->
            </div>
            <!--end::Title-->

             <!--begin::Card toolbar-->
             <div class="card-toolbar">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_list_close">
                    <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>                
                </div>
                <!--end::Close-->
            </div>
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->

        <!--begin::Card body-->
        <div class="card-body hover-scroll-overlay-y">

            <div>
                <h1>Beneficios de Usar Listas de Compras y Gestionar Ítems</h1>
            
                <h2>Por qué usar listas de compras</h2>
                <p>Las listas de compras son herramientas muy útiles para planificar lo que necesitas comprar antes de ir al supermercado. Aquí te explicamos por qué son importantes:</p>
            
                <ul>
                    <li><strong>Organización:</strong> Te ayudan a no olvidar productos importantes y a evitar compras innecesarias.</li>
                    <li><strong>Ahorro de tiempo:</strong> Reduces el tiempo en el supermercado al saber exactamente qué buscar.</li>
                    <li><strong>Control de gastos:</strong> Te permite mantener un presupuesto y evitar gastos impulsivos.</li>
                    <li><strong>Reducción de estrés:</strong> Planificar las compras de antemano te quita estrés y te hace sentir más organizado.</li>
                    <li><strong>Sostenibilidad:</strong> Puedes comprar de manera más consciente, reduciendo el desperdicio y eligiendo productos más sostenibles.</li>
                </ul>
            
                <h2>Añadir y gestionar ítems en la lista</h2>
                <p>Para usar tu lista de compras de manera efectiva, sigue estos pasos simples:</p>
            
                <ul>
                    <li><strong>Añadir ítems:</strong> Escribe el nombre del producto y su precio aproximado.</li>
                    <li><strong>Marcar como comprado:</strong> Usa el checkbox para indicar si ya has comprado un ítem.</li>
                    <li><strong>Actualizar automáticamente:</strong> La lista se actualiza automáticamente cada vez que marcas un ítem como comprado.</li>
                    <li><strong>Flexibilidad y control:</strong> Puedes modificar tu lista fácilmente según tus necesidades.</li>
                </ul>
            
                <h2>Conclusión</h2>
                <p>Usar una lista de compras te hace más eficiente y te ayuda a administrar mejor tu tiempo y dinero. Aprovecha estas herramientas simples para hacer tus compras más organizadas y menos estresantes.</p>
            
                <p>Con estas prácticas, no solo mejoras tu experiencia de compra, sino que también contribuyes a un consumo más responsable y sostenible.</p>
            </div>
            
            
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->



</div>
<!--end::View component-->

{% endblock %}

{% block js %}




<script>
    $(document).ready(function(){
        $('.form-check-input').change(function(){
            var itemId = $(this).data('id');
            $.ajax({
                url: '/boards/shopping/update-item-shoppinglist/' + itemId + '/',
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response){
                    if(response.success){
                        console.log('Item updated successfully');
                    } else {
                        console.log('Failed to update item');
                    }
                }
            });
        });

        $('.edit-button').click(function(){
            var itemId = $(this).data('id');
            var editIcon = $(this).find('.ki-notepad-edit');
            var saveIcon = '<i class="fa-regular fa-floppy-disk"></i>';
            var priceSpan = $('.price-span[data-id="' + itemId + '"]');
            var priceInput = $('.price-input[data-id="' + itemId + '"]');

            if(editIcon.hasClass('ki-notepad-edit')){
                editIcon.removeClass('ki-notepad-edit').addClass('fa-regular fa-floppy-disk');
                priceSpan.hide();
                priceInput.show().focus();
            } else {
                var newPrice = priceInput.val();
                // Remove commas from the input before sending
                newPrice = newPrice.replace(',', '');
                $.ajax({
                    url: '/boards/shopping/update-price/' + itemId + '/',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'price': newPrice
                    },
                    success: function(response){
                        if(response.success){
                            // Format the price with commas
                            var formattedPrice = Number(response.price).toLocaleString('en-US');
                            priceSpan.text(formattedPrice);
                            editIcon.removeClass('fa-regular fa-floppy-disk').addClass('ki-notepad-edit');
                            priceSpan.show();
                            priceInput.hide();
                            console.log('Price updated successfully');
                        } else {
                            console.log('Failed to update price');
                        }
                    }
                });
            }
        });
    });
</script>
{% endblock %}
