{% extends 'base/base.html' %}
{% load crispy_forms_tags %} 

{% block title %}
    roomiebudget - Cuentas 
{% endblock %}


{% block navbar %}
    {% include 'base/nav_boards.html' %}
{% endblock %}

{% block css %}
    
{% endblock %}




{% block sub_titulo1 %} 
    empleados
{% endblock %}


{% block sub_titulo2 %} 
Lista Activos
{% endblock %}


{% block titulo2 %} 
Listado de Contratos Activos
{% endblock %}

{% block actions %}
<!-- Button trigger modal -->
    <button type="button"  class="btn btn-light-primary"  data-bs-toggle="modal" data-bs-target="#kt_modal_lista" >
        new Account
    </button>  
{% endblock %}


{% block content %}
    <div class="container">

        <div class="table-responsive">
            <table class="table table-rounded table-striped border gy-7 gs-7" id='tabla-certi-nomi'>
                <thead>
                    <tr>
                    <th width="200">Name</th>
                    <th width="200">Balance</th>
                    <th width="200">Updated at</th>
                    <th width="200">Account Type</th>
                    <th width="200">status</th>
                    <th width="150">
                        <div class="btn btn-icon btn-sm btn-light-facebook me-5 container d-flex justify-content-center align-items-center  ">
                            <i class="fa-solid fa-certificate fs-3"></i>
                        </div>
                    </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in accounts %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.balance }}</td>
                        <td>{{ item.updated_at }}</td>
                        <td>{{ item.account_type }}</td>
                        <td>{{ item.status }}</td>
                        <td>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        {% for list in lists %}
            <div class="card text-center mb-3" style="min-width: 18rem;" >
                <div class="card-body">
                    <h5 class="card-title">{{ list.name }}</h5>
                    <p class="card-text">{{ list.description }}</p>
                    <a href="{% url 'shopping:shoppinglistsviews' list.id %}" class="btn btn-primary">Get Into</a>
                </div>
            </div>
        {% endfor %}
    </div>

    
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" id="kt_modal_lista">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">new Account</h3>
    
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>
    
                <div class="modal-body">
                    <form id="shoppinglists" method="post" >
                        {% crispy form %}
                    </form>
                    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="shoppinglists"  class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}