{% extends 'base/base.html' %}
{% load crispy_forms_tags %} 

{% block title %}
    Nomiweb.co - Portal Empresas - Lista Activos
{% endblock %}


{% block navbar %}
    {% include 'base/nav_boards.html' %}
{% endblock %}

{% block css %}
    
{% endblock %}




{% block sub_titulo1 %} 
    empleados
{% endblock %}


{% block sub_titulo2 %} 
Lista Activos
{% endblock %}


{% block titulo2 %} 
Listado de Transactiones
{% endblock %}

{% block actions %}
<!-- Button trigger modal -->
    <button type="button"  class="btn btn-light-primary"  data-bs-toggle="modal" data-bs-target="#kt_modal_lista" >
        New Transaction
    </button>  
    <button class="btn btn-secondary" disabled> </button>
    <a type="button" class="btn btn-light-info" href="{% url 'boards:boards'  %}" >Exit Board</a> 
{% endblock %}


{% block content %}
    <div class="container">
        
        {% if transactions %}
                <div class="table-responsive">
                    <table class="table table-rounded table-striped border gy-7 gs-7" id='tabla-transactions'>
                        <thead>
                            <tr>
                            <th width="200">Typet</th>
                            <th width="200">Patrimony</th>
                            <th width="200">date</th>
                            <th width="200">amount</th>
                            <th width="200">description</th>
                            <th width="200">payment method</th>
                            <th width="200">status</th>
                            <th width="150">
                                <div class="btn btn-icon btn-sm btn-light-facebook me-5 container d-flex justify-content-center align-items-center  ">
                                    <i class="fa-solid fa-certificate fs-3"></i>
                                </div>
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in transactions %}
                            <tr>
                                <td> 
                                    {% if item.typet == 'ingreso' %}
                                        <p class="btn btn-outline btn-outline-dashed btn-outline-success btn-active-light-success" >
                                            <i class="ki-duotone ki-arrow-down  fs-2 ms-3 ms-3">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            Entrante
                                        </p>
                                    {% else %}
                                        <p class="btn btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger" >
                                            <i class="ki-duotone ki-arrow-up fs-2 ms-3 ms-3">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            Saliente
                                        </p>
                                    {% endif %}
                                </td>

                                <td>{{ item.patrimony }}</td>
                                <td>{{ item.date | date:"Y-m-d" }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.payment_method }}</td>

                                <td>
                                    {% if item.status == 0 %}
                                        <p class="btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary" >
                                            <i class="fa-solid fa-bars-progress"></i>
                                            Programada
                                        </p>
                                    {% elif item.status == 1 %}
                                        <p class="btn btn-outline btn-outline-dashed btn-outline-success btn-active-light-success" >
                                            <i class="fa-solid fa-square-check  fs-1"></i>
                                            Pagada
                                        </p>
                                    {% elif item.status == 2 %}
                                        <p class="btn btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger" >
                                            <i class="fa-solid fa-stop"></i>
                                            En Espera
                                        </p>
                                    {% else %}
                                        <p class="btn btn-danger" >
                                            <i class="fa-solid fa-star-of-life"></i>
                                            Falla
                                        </p>
                                    {% endif %}
                                </td>

                                <td>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        {% else %}
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">¡Ay caramba!</h4>
                <p>Parece que esta lista está más vacía que un tanque de gasolina un domingo por la tarde. ¡Está tan desolada que hasta las telarañas se sienten solas y deprimidas!</p>
                <hr>
                <p class="mb-0">¡A llenarla rápido antes de que las arañas empiecen a organizar un sindicato por falta de trabajo!</p>
            </div>
        {% endif %}


    </div>

    
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" id="kt_modal_lista">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create List</h3>
    
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>
    
                <div class="modal-body">
                    <form id="shoppinglists" method="post" >
                        {% crispy form %}
                    </form>
                    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="shoppinglists"  class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% block js %}


<script>
    $(document).ready(function() {
        $('#tabla-transactions').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No tiene certificados para este contrato o no ha seleccionado un contrato.",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [[2, 'desc']], 
            "pageLength": 6,
            searching: false                
        });
    });
</script>
{% endblock %}