{% extends 'base/base.html' %}
{% load crispy_forms_tags %} 

{% block title %}
    Nomiweb.co - Portal Empresas - Lista Activos
{% endblock %}


{% block navbar %}
    {% include 'base/nav_boards.html' %}
{% endblock %}

{% block css %}
    
{% endblock %}




{% block sub_titulo1 %} 
    empleados
{% endblock %}


{% block sub_titulo2 %} 
Lista Activos
{% endblock %}


{% block titulo2 %} 
Listado de Transactiones
{% endblock %}

{% block actions %}
<!-- Button trigger modal -->
    <!-- Primer grupo de botones -->
    <div class="btn-group" role="group" >
        <button id="kt_drawer_transsaciones" class="btn btn-icon btn-info">
            <i class="fa-solid fa-circle-question fs-2x"></i>
        </button>
        <button type="button"  class="btn btn-light-primary"  data-bs-toggle="modal" data-bs-target="#kt_modal_lista" >
            New Transaction
        </button>  
    </div>
    <!-- Separación entre grupos -->
    <div style="width: 10px;"></div> <!-- Puedes ajustar el tamaño según sea necesario -->
    <a type="button" class="btn btn-light-info" href="{% url 'boards:boards'  %}" >Exit Board</a> 

    
{% endblock %}


{% block content %}
    <div class="container">
        
        {% if transactions %}
                <div class="table-responsive">
                    <table class="table table-rounded table-striped border gy-7 gs-7" id='tabla-transactions'>
                        <thead>
                            <tr>
                            <th width="200">Typet</th>
                            <th width="200">Patrimony</th>
                            <th width="200">date</th>
                            <th width="200">amount</th>
                            <th width="200">description</th>
                            <th width="200">payment method</th>
                            <th width="200">addressee/sender</th>
                            <th width="200">labels</th>
                            <th width="200">status</th>
                            <th width="150">
                                <div class="btn btn-icon btn-sm btn-light-facebook me-5 container d-flex justify-content-center align-items-center  ">
                                    <i class="fa-solid fa-certificate fs-3"></i>
                                </div>
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in transactions %}
                            <tr>
                                <td> 
                                    {% if item.typet == 'ingreso' %}
                                        <p class="btn btn-icon btn-outline btn-outline-dashed btn-outline-success btn-active-light-success" >
                                            <i class="ki-duotone ki-arrow-down  fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </p>
                                    {% else %}
                                        <p class="btn btn-icon btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger" >
                                            <i class="ki-duotone ki-arrow-up fs-2 ">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </p>
                                    {% endif %}
                                </td>

                                <td>{{ item.patrimony }}</td>
                                <td>{{ item.date | date:"Y-m-d" }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.payment_method }}</td>
                                <td>{{ item.addressee_sender }}</td>
                                <td>{{ item.category }}</td>
                                <td>
                                    {% if item.status == 0 %}
                                        <p class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary" >
                                            <i class="fa-solid fa-bars-progress"></i>
                                            Programada
                                        </p>
                                    {% elif item.status == 1 %}
                                        <p class="btn btn-sm btn-outline btn-outline-dashed btn-outline-success btn-active-light-success" >
                                            <i class="fa-solid fa-square-check  fs-1"></i>
                                            Pagada
                                        </p>
                                    {% elif item.status == 2 %}
                                        <p class="btn btn-sm btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger" >
                                            <i class="fa-solid fa-stop"></i>
                                            En Espera
                                        </p>
                                    {% else %}
                                        <p class="btn btn-danger" >
                                            <i class="fa-solid fa-star-of-life"></i>
                                            Falla
                                        </p>
                                    {% endif %}
                                </td>

                                <td>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        {% else %}
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">¡Ay caramba!</h4>
                <p>Parece que esta lista está más vacía que un tanque de gasolina un domingo por la tarde. ¡Está tan desolada que hasta las telarañas se sienten solas y deprimidas!</p>
                <hr>
                <p class="mb-0">¡A llenarla rápido antes de que las arañas empiecen a organizar un sindicato por falta de trabajo!</p>
            </div>
        {% endif %}


    </div>

    
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" id="kt_modal_lista">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create List</h3>
    
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>
    
                <div class="modal-body">
                    <form id="shoppinglists" method="post" >
                        {% crispy form %}
                    </form>
                    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="shoppinglists"  class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>


<!--begin::View component-->
<div  id="kt_drawer_transsaciones" class="bg-white" data-kt-drawer="true" data-kt-drawer-activate="true" data-kt-drawer-toggle="#kt_drawer_transsaciones" data-kt-drawer-close="#kt_drawer_transsaciones_close"  data-kt-drawer-width="{default:'300px', 'md': '500px'}" >
    <!--begin::Card-->
    <div class="card rounded-0 w-100">
        <!--begin::Card header-->
        <div class="card-header pe-5">
            <!--begin::Title-->
            <div class="card-title">
                <!--begin::User-->
                <div class="d-flex justify-content-center flex-column me-3">
                    <a href="" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 lh-1"> <h2>Fundamentos de la Gestión Financiera</h2> </a>
                </div>
                <!--end::User-->
            </div>
            <!--end::Title-->

             <!--begin::Card toolbar-->
             <div class="card-toolbar">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_transsaciones_close">
                    <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>                
                </div>
                <!--end::Close-->
            </div>
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->

        <!--begin::Card body-->
        <div class="card-body hover-scroll-overlay-y">

            <div>
                <h1>Activos y Pasivos: </h1>
                <br>
                <h2>Activos: Recursos con Valor Económico</h2>
                <p>Los activos son todos aquellos recursos que posees y que tienen un valor económico. Estos pueden ser tangibles, como propiedades, vehículos, inventarios, o intangibles, como inversiones financieras, derechos de propiedad intelectual o fondos de pensiones. La diversidad de activos permite a los individuos y organizaciones acumular riqueza y generar ingresos futuros.</p>
                
                <h3>Importancia de Registrar Activos:</h3>
                <ul>
                    <li><strong>Conocimiento de Patrimonio:</strong> Mantener un registro detallado de tus activos te permite tener una visión clara de tu patrimonio neto, es decir, la diferencia entre tus activos y tus pasivos. Esto es crucial para entender tu situación financiera global.</li>
                    <li><strong>Planificación Financiera:</strong> Al conocer qué activos posees y su valor, puedes planificar mejor cómo utilizarlos para generar ingresos adicionales, invertir en nuevas oportunidades o cubrir gastos importantes.</li>
                    <li><strong>Evaluación de Solvencia:</strong> Registrar tus activos te ayuda a evaluar tu solvencia financiera y tu capacidad para enfrentar contingencias. Esto incluye saber cuánto podrías liquidar rápidamente en caso de necesidad.</li>
                    <li><strong>Facilitar la toma de decisiones:</strong> Con información precisa sobre tus activos, puedes tomar decisiones financieras más informadas y estratégicas, como la compra o venta de activos según las condiciones del mercado.</li>
                </ul>
                
                <h2>Pasivos: Obligaciones Financieras</h2>
                <p>Los pasivos representan las deudas y obligaciones financieras que una persona o entidad debe pagar en el futuro. Estos pueden incluir préstamos hipotecarios, préstamos personales, deudas comerciales, entre otros. Los pasivos son parte integral del balance financiero y deben gestionarse adecuadamente para evitar problemas financieros.</p>
                
                <h3>Importancia de Registrar Pasivos:</h3>
                <ul>
                    <li><strong>Comprensión de las Obligaciones Financieras:</strong> Mantener un registro de los pasivos proporciona claridad sobre las deudas pendientes y los compromisos financieros futuros.</li>
                    <li><strong>Planificación de Pago:</strong> Conocer el monto y las condiciones de los pasivos facilita la planificación de pagos y la gestión eficiente de las finanzas personales o empresariales.</li>
                    <li><strong>Evaluación de la Deuda:</strong> Registrar pasivos es crucial para evaluar la capacidad de endeudamiento y determinar si es viable asumir nuevas obligaciones financieras.</li>
                    <li><strong>Gestión de Riesgos:</strong> La gestión adecuada de los pasivos ayuda a mitigar riesgos financieros y mantener una estabilidad financiera a largo plazo.</li>
                </ul>
                
                <h1>Formulario de Registro de Transacciones</h1>
                <p>El formulario de registro de transacciones es una herramienta esencial para registrar y gestionar ingresos y egresos financieros. Este formulario permite capturar información detallada sobre cada transacción, facilitando un seguimiento preciso de todas las operaciones financieras realizadas.</p>
                
                <h3>Componentes del Formulario:</h3>
                <ul>
                    <li><strong>Tipo de Transacción:</strong> Indica si la transacción es un ingreso (dinero que entra) o un egreso (dinero que sale).</li>
                    <li><strong>Patrimonio:</strong> Permite seleccionar el activo o pasivo asociado a la transacción. Esto proporciona contexto sobre cómo afecta la transacción al balance financiero general.</li>
                    <li><strong>Fecha y Monto:</strong> Registra la fecha en que ocurrió la transacción y el valor monetario involucrado. Estos detalles son cruciales para la contabilidad y la gestión financiera.</li>
                    <li><strong>Método de Pago:</strong> Describe cómo se realizó la transacción, como efectivo, tarjeta de crédito, transferencia bancaria, entre otros.</li>
                    <li><strong>Destinatario y Remitente:</strong> Especifica quién recibió o envió el dinero en la transacción. Esto proporciona claridad sobre las partes involucradas y el propósito de la operación financiera.</li>
                    <li><strong>Etiquetas:</strong> Permite clasificar la transacción en categorías específicas, como "compras", "ingresos", "gastos operativos", facilitando el análisis financiero y la generación de informes.</li>
                </ul>
                
                <h2>Columna Typet en la Tabla de Visualización</h2>
                <p>La columna Typet en la tabla de visualización utiliza símbolos visuales para distinguir entre transacciones de ingreso y egreso. Esto ayuda a los usuarios a identificar rápidamente la naturaleza de cada operación financiera.</p>
                
                <ul>
                    <li><strong>Ingreso:</strong> Representado por una flecha hacia abajo, indica que es una entrada de dinero en el registro financiero.</li>
                    <li><strong>Egreso:</strong> Representado por una flecha hacia arriba, indica que es una salida de dinero del registro financiero.</li>
                </ul>
                <ul>
                    <li><strong>Ingreso:</strong> <span class="btn btn-icon btn-outline btn-outline-dashed btn-outline-success btn-active-light-success"><i class="ki-duotone ki-arrow-down fs-2"><span class="path1"></span><span class="path2"></span></i></span></li>
                    <br>
                    <li><strong>Egreso:</strong> <span class="btn btn-icon btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger"><i class="ki-duotone ki-arrow-up fs-2"><span class="path1"></span><span class="path2"></span></i></span></li>
                </ul>
                
                <p>Estos estilos visuales son intuitivos y facilitan la interpretación de datos financieros al proporcionar una representación visual clara de las transacciones.</p>
                
                <h1>Conclusión</h1>
                <p>En resumen, entender y gestionar activos y pasivos es fundamental para una gestión financiera eficaz y estratégica. Utilizando el formulario de registro de transacciones y interpretando la columna Typet en la tabla de visualización, los individuos y las organizaciones pueden mantener un control detallado de sus finanzas, tomar decisiones informadas y planificar su futuro económico con confianza.</p>
                
                <p>Este enfoque proactivo hacia la gestión financiera no solo optimiza el uso de recursos disponibles, sino que también fomenta una estabilidad financiera a largo plazo y una mejor preparación para enfrentar los desafíos económicos futuros.</p>
            </div>
            
            
            
            
                
            

            


        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->



</div>
<!--end::View component-->




{% endblock %}




{% block js %}




<script>
    $(document).ready(function() {
        $('#tabla-transactions').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No tiene certificados para este contrato o no ha seleccionado un contrato.",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [[2, 'desc']], 
            "pageLength": 6,
            searching: false                
        });
    });
</script>
{% endblock %}