{% extends 'base/base.html' %}

{% load crispy_forms_tags %} 

{% block title %} 
Create Board 
{% endblock %} 


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">{% crispy form %}</div>
            <div class="col">
                Los tableros representan una manera eficaz y accesible de organizar y
                compartir información financiera de manera rápida y sencilla. Su principal
                objetivo es facilitar la visualización, actualización y verificación de
                cuentas tanto para uso personal como grupal. Al generar tableros, se busca
                crear un espacio donde puedas organizar tus finanzas de manera clara y
                accesible, permitiendo su fácil compartición con terceros para colaborar
                en la gestión de ingresos y gastos.
            </div>
        </div>
    </div>
{% endblock %}
