{% extends 'base/base.html' %}
{% load crispy_forms_tags %} 

{% block title %}
    Nomiweb.co - Portal Empresas - Lista Activos
{% endblock %}


{% block navbar %}
    {% include 'base/nav_boards.html' %}
{% endblock %}

{% block css %}
    
{% endblock %}




{% block sub_titulo1 %} 
    empleados
{% endblock %}


{% block sub_titulo2 %} 
Lista Activos
{% endblock %}


{% block titulo2 %} 
    Numero de Usuario - {{ user.cdunico }}
{% endblock %}

{% block actions %}
<!-- Button trigger modal -->
    <button type="button"  class="btn btn-light-primary"  data-bs-toggle="modal" data-bs-target="#kt_modal_lista" >
        New User
    </button> 
    <button class="btn btn-secondary" disabled> </button>
    <a type="button" class="btn btn-light-info" href="{% url 'boards:boards'  %}" >Exit Board</a>  
{% endblock %}


{% block content %}
    


    <div class="container">
        
        {% if lista_usuarios %}
            <div class="row"> 
                <div class="col-xl-6">
                    <!--begin::List widget 20-->
                    <div class="card mb-5 mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">

                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold text-gray-900">Recommended for you</span>
                                <span class="text-muted mt-1 fw-semibold fs-7">8k social visitors</span>
                            </h3>
                            
                            <!--begin::Toolbar-->
                            <div class="card-toolbar">   
                                <a href="#" class="btn btn-sm btn-light">All Courses</a>             
                            </div>
                            <!--end::Toolbar-->
                        </div>
                        <!--end::Header-->
                    
                        <!--begin::Body-->
                        <div class="card-body pt-6">
                                
                            {% for usuario in lista_usuarios %}
                                <!--begin::Separator-->
                                <div class="separator separator-dashed my-4"></div>
                                <!--end::Separator--> 

                                <!--begin::Item-->
                                <div class="d-flex flex-stack">  
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-40px me-4">
                                        <div class="symbol-label fs-2 fw-semibold bg-danger text-inverse-danger">{{usuario.inicial}}</div>
                                    </div>
                                    <!--end::Symbol-->
                    
                                    <!--begin::Section-->
                                    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                        <!--begin:Author-->                    
                                        <div class="flex-grow-1 me-2">
                                            <a href="/saul-html-pro/pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-4 fw-bold"> {{usuario.username}} </a>
                                        </div>
                                        <!--end:Author-->                      
                                        
                                        <!--begin::Actions-->
                                        <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
                                            <i class="ki-duotone ki-arrow-right fs-2"><span class="path1"></span><span class="path2"></span></i>                    </a>
                                        <!--begin::Actions-->    
                                    </div>
                                    <!--end::Section-->
                                </div>
                                <!--end::Item-->
                    
                                <!--begin::Separator-->
                                <div class="separator separator-dashed my-4"></div>
                                <!--end::Separator--> 
                            {% endfor %}
                                

                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List widget 20-->
                </div>

                <div class="col-xl-6">
                    <!--begin::List widget 20-->
                    <div class="card mb-5 mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">

                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold text-gray-900">Recommended for you</span>
                                <span class="text-muted mt-1 fw-semibold fs-7">8k social visitors</span>
                            </h3>
                            
                            <!--begin::Toolbar-->
                            <div class="card-toolbar">   
                                <a href="#" class="btn btn-sm btn-light">All Courses</a>             
                            </div>
                            <!--end::Toolbar-->
                        </div>
                        <!--end::Header-->
                    
                        <!--begin::Body-->
                        <div class="card-body pt-6">
                                
                            {% for usuario in lista_usuarios %}
                                <!--begin::Separator-->
                                <div class="separator separator-dashed my-4"></div>
                                <!--end::Separator--> 

                                <!--begin::Item-->
                                <div class="d-flex flex-stack">  
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-40px me-4">
                                        <div class="symbol-label fs-2 fw-semibold bg-danger text-inverse-danger">{{usuario.inicial}}</div>
                                    </div>
                                    <!--end::Symbol-->
                    
                                    <!--begin::Section-->
                                    <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                                        <!--begin:Author-->                    
                                        <div class="flex-grow-1 me-2">
                                            <a href="/saul-html-pro/pages/user-profile/overview.html" class="text-gray-800 text-hover-primary fs-4 fw-bold"> {{usuario.username}} </a>
                                        </div>
                                        <!--end:Author-->                      
                                        
                                        <!--begin::Actions-->
                                        <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px">
                                            <i class="ki-duotone ki-arrow-right fs-2"><span class="path1"></span><span class="path2"></span></i>                    </a>
                                        <!--begin::Actions-->    
                                    </div>
                                    <!--end::Section-->
                                </div>
                                <!--end::Item-->
                    
                                <!--begin::Separator-->
                                <div class="separator separator-dashed my-4"></div>
                                <!--end::Separator--> 
                            {% endfor %}
                                

                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List widget 20-->
                </div>
            </div>
        {% else %}
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">¡Vaya!</h4>
                <p>Por ahora, solo estás tú en este tablero. Es como una fiesta donde aún no ha llegado nadie.</p>
                <hr>
                <p class="mb-0">¡Comparte este tablero y trae a más amigos! Sería una pena que te quedaras solo en esta fiesta.</p>
            </div>
        {% endif %}


    </div>

    
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" id="kt_modal_lista">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create List</h3>
    
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <!--end::Close-->
                </div>
    
                <div class="modal-body">
                    <form id="shoppinglists" method="post" >
                        {% crispy form %}
                    </form>
                    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="shoppinglists"  class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% block js %}


<script>
    $(document).ready(function() {
        $('#tabla-transactions').DataTable({
            language: {
                "decimal":        "",
                "emptyTable":     "No tiene certificados para este contrato o no ha seleccionado un contrato.",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros coincidentes",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            },
            dom: 'frtip',
            order: [[2, 'desc']], 
            "pageLength": 6,
            searching: false                
        });
    });
</script>
{% endblock %}